* {
  box-sizing: border-box;
}

body {
  background: grey;
}

#wrapper {
  width: 1600px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: 'Inconsolata', ;
  font-size: 1rem;
  color: purple;
}

nav {
  font-family: 'Inconsolata', ;
  font-size: 1rem;
  
}

nav ul li {
  text-align: center;
  display: inline;
  list-style-type: none;
}

main {
  font-family: 'Inconsolata', ;
  font-size: 1rem;
  width: 63%;
  text-align: justify;
  float: left;
  padding: 2rem;
  color: turquoise;
}

aside {
  font-family: 'Inconsolata', ;
  font-size: 1rem;
  width: 37%;
  float: right;
  text-align: justify;
  padding: 2rem;
  color: turquoise;
}

footer {
  font-family: 'Inconsolata', ;
  font-size: 1rem;
  clear: both;
  color: purple;
}
